#name{
    background-color: aquamarine;
}

.name{
    background-color: aquamarine;
}
.adeel{
    background-color: green;
}

.navbar{
    background-image: -moz-element();
    color: white;
    padding: 10px;
    justify-self: center;
    float: none;
    border: 10%;
    height: 100pc;

}

.article{
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    gap: 5%;
    margin: 5% 3%;
    border-radius: 8px;
    background-color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
    justify-self: center;
    left: 10%;

}